
body {

	background: url(../image/tictactoe.jpg);
	background-size: cover;
	background-position: center;
	font-family: helvetica;
	min-height: 100vh;
	/*overflow: hidden;*/
}

h1 {

color: red;

}

h1:hover {
 color: blue;

}

#container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: red;
}

#board:hover {
	color: blue;
} 

#board {
	width: 300px;
	margin: 50px auto;
	position: relative;
}

#board table {
	border: solid;
	width: 100%;
}

#board td {
	width: 100px;
	height: 100px;
}

.hidePlayer {
	display: none;
}

.score {
	color: red;
}

#newGame {
  color: #900;
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
  height: 10px;
}

#clearScore {
  color: #900;
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
  height: 10px;
}

.prompt {
	color: red;
	font-size: 26px;
	top: 20px;
	text-align: center;
	font-family: helvetica;

}

.row {

	width: 100px;
	height: 100px;
	background-color: rgba(60, 132, 198, 0.6);
	font-size: 56px;
	color: white;
	text-align: center;

}	

.winnerO {

	visibility: hidden;

}	

.winnerX {

	visibility: hidden;

}

.gameOver {

	visibility: hidden;
}

.playerOpacity {
	opacity: 0;
}


.playerTurn {
	transition: opacity 0.2s;

	/*visibility: hidden;*/
}

.score {

	color: white;
	border: solid;
	background-color: black;
	position: absolute;
	padding: 10px;
	font-size: 24px;
    top: 120px;
    right: -350px;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.score:hover {
	color: red;	
}





















}